    /*variables*/
    $color-letra-principal: #aaa;
    $color-header: cornsilk;
    $color-fondo-nav: #fff;
    $color-sombra-nav: #dedede;
    $color-hover-nav: #555;
    $color-tarjeta-contacto: lightblue;
    $color-info: aliceblue;
