h1{
    text-align: center;
    text-decoration: underline black;
}

h2{
    
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: $color-header;
    padding-bottom: 30px;
  }

footer{
    background-color: $color-header;
    margin-top: auto;
}

a{
    text-decoration: none;
}

.row{
    text-align: center;
}

.titulos{
    padding:20px;
}